@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body{
    font-family: "Montserrat", sanser-serif;
}

#contenedor{
    background-color: rgb(165, 42, 42);
    width: 900px;
    height: 500px;
    text-align: center;
    position: absolute;
    inset: 0;
    margin: auto;
}

#calculadora{
    background: white;
    width: 50%;
    height: 100%;
    float: left;
}

#detalle{
    background: rgb(202, 45, 45);
    width: 50%;
    height: 100%;
    float: left;
    color: #f6f5f7;
}

.contenido{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    padding: 40px;
}

input {
	width: 70%;
    padding: 12px 15px;
    border: none;
    background-color: #eee;
}

button {
  font-size: 15px;
	font-weight: bold;
	padding: 12px 45px;
	border-radius: 30px;
	background-color: #e71111;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: transform 20ms ease-in;
}

button:active {
	transform: scale(0.95);
}
#error{
    color: red;
    font-weight: bold;
    display: none;
}

.resultado{
    color: #0A81D1;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
    display: none;
}
